@import url('./reset.css');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7.031rem;
    padding-left: 7.031rem;
    padding-top: 2.563rem;

}
 
  
   .bars {
    display: none;


}

.bars a {
    text-decoration: none;
}

.nav-links {
    display: flex;


}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: 400;



}

.nav-links a:hover {
    text-decoration: underline cornflowerblue;
    transform:translateY(7px);
    transition: 0.7s ease;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 112.5px;
    padding-right: 112px;

}
 

.section>.left-side {
    flex-direction: column;
    flex-basis: 48%;
    cursor: default;
    min-width: 400px;
    padding-top: 117px;



}

.left-side h1 span {
    color: #f39c12;

}

.left-side h1 {
    font-weight: 700;
    font-size: 70px;
}

.left-side h1:hover {
    text-decoration: underline cornflowerblue;

}

.left-side p {
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-weight: 400;
    /* margin-top: 34px; */
    line-height: 33px;
}

.left-side p:hover {
    text-decoration: underline #4834d4;

}

.left-side button {
    padding: 15px 26px;
    background-color: #000;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
}

.left-side button:hover {
    text-decoration: underline #4834d4;
}

.left-side a {
    color: #000;
    padding-left: 15px;
    text-decoration: none;
}

.left-side a:hover {
    text-decoration: underline #4834d4;
}

.section>.right-side {

    padding-top: 4.5rem;
    flex: 0.52;
}



.trusted-by-sec {
    text-align: center;
}

.trusted-by-sec h6 {

    font-weight: 400;
    font-size: 18px;
    padding: 100px 0 45px;
    cursor: default;
}

.trusted-companies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 141px;
    padding-left: 9rem;
    padding-right: 9rem;
}

.downstairs {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 9.75rem 21rem 1.25rem;
    cursor: default;
}

.downstairs p {
    color: rgba(255, 94, 105, 1);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.downstairs h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 59px;

}

.downstairs h1:hover {
    text-decoration: underline cornflowerblue;
}

.general-vector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.4rem 10rem 0;
    cursor: default;

}

.one-vector h1 {
    font-size: 27px;
    min-width: 244px;
}

.two-vector h1 {
    font-size: 27px;
    min-width: 285px;
}

.three-vector h1 {
    font-size: 27px;
    min-width: 247px;
}

.square {
    width: 6px;
    height: 6px;
    background-color: #000;
}

.square h6 {
    margin-left: 12px;
    min-width: 228px;
    font-size: 14px;
}

.project-info {
    padding: 10.4rem 7.04rem 0 7rem;

}

.project-info-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-info p {
    color: rgba(177, 108, 234, 1);
    font-size: 22px;
    font-weight: 700;
    cursor: default;
    text-transform: uppercase;
}


.project-info-1 h1 {
    cursor: default;
    font-size: 54px;
    font-weight: 700;
    min-width: 544px;
}

.project-info-1 button {
    background-color: #000;
    width: 201px;
    height: 58px;
    color: #fff;
    cursor: pointer;
    min-width: 201px;
}

button:hover {
    text-decoration: underline cornflowerblue;
}




.sec-project {
    display: flex;
    justify-content: space-around;
    z-index: 2;
    padding-top: 70px;

}
.

.project_in-the {
    min-width: 486px;
    padding-left: 222px;
    padding-right: 222px;

}

.project-bottom {
    padding-left: 32.5px;
    padding-bottom: 34.5px;
    border: 1px solid #fff;
    background-color: #fff;

}

.project-bottom h5 {
    color: rgba(60, 70, 255, 1);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}

.project-bottom h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    cursor: default;
}

.project-bottom a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.button-button {
    display: flex;
    justify-content: end;
    padding-top: 26px;
    



}

.button-button button {
    height: 54px;
    width: 54px;
    margin-left: 10px;
}

.section-blog {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding-left: 112.5px;
    padding-right: 112.5px;
    padding-bottom: 144px;
    margin-top: -20%;
}


.blog-blog {
    flex-basis: 50%;
    padding-top: 276px;
}

.blog-blog h5 {
    text-transform: uppercase;
    color: rgba(255, 168, 75, 1);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.blog-blog h1 {
    font-size: 54px;
    font-weight: 700;

}

.blog-blog-one h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.blog-blog-one {
    flex: 1;
    padding-top: 317px;

}

.blog-vector {
    padding-bottom: 30px;
    border-bottom: 1px solid #666;

}

.section-blog a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}


.section-product {
    display: flex;
    flex-direction: column;
    padding-left: 113px;
    padding-right: 112px;
    cursor: default;


}

.product-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-text h5 {
    text-transform: uppercase;
    color: rgba(255, 94, 105, 1);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    min-width: 290px;
    padding-top: 156px;

}

.product-text h1 {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 60px;
    min-width: 273;

}

.product-text p {
    color: rgba(102, 102, 102, 1);
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    height: 120px;
    padding-top: 165px;


}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 147px;
}

.product-img .image1 {
    display: flex;
    align-items: center;


}

.image1 img {
    margin-left: 16px;
}

.image2 img {
    margin-left: 16px;
    margin-top: 7.3px;
    margin-bottom: 7.3px;

}

.education-and-work {
    display: flex;
    padding: 154px 112.5px 0;
    cursor: default;


}

.edu-bottom {
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
}

.left-education>h3 {
    margin-bottom: 83px;
    font-size: 36px;
    font-weight: 400;
}


.left-education {
    flex-basis: 50%;
}

.edu-side {
    display: flex;
    flex-direction: column;
}

.edu-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10.5px;
}

.edu-bottom {
    display: flex;
    justify-content: space-between;
}

.right-work {
    flex: 1;
}

.right-work>h3 {
    margin-bottom: 83px;
    font-size: 36px;
    font-weight: 400;
}

.work-right {
    display: flex;
    align-items: center;
}

.work-in {
    display: flex;
    flex-direction: column;
    flex: 1;


}

.work-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.work-bottom {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    padding-bottom: 20px;

}

.work-right>svg {
    flex-basis: 10%;
}

.word-testi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 112.5px;
    padding-right: 112.5px;
    padding-bottom: 159.66px;
    padding-top: 140px;
    cursor: default;

}

.left-word {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    padding-right: 80px;

}

.left-word h3 {
    font-size: 22px;
    font-weight: 700;
    color: rgba(67, 83, 255, 1);
    text-transform: uppercase;
}

.left-word h1 {
    font-size: 54px;
    font-weight: 700;
    padding-bottom: 40px;
}

.right-word {
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: default;
    padding-top: 240px;

}

.word-top h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 46px;
    min-width: 400px;
}

.word-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot-bottom button {
    width: 54px;
    height: 54px;
    background-color: #000;
    color: #fff;

}

.word-bottom h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.word-bottom span {
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}

.faq-section {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding-left: 112.5px;
    padding-right: 112.5px;
    padding-top: 78.34px;
    padding-bottom: 80px;
    cursor: default;



}

.section-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 150px;

}

.section-faq span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color: rgba(255, 138, 86, 1);
    letter-spacing: 4px;
}

.section-faq h1 {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 59px;
}

.section-ask {
    display: flex;
    color: #fff;
    /* align-items:center; */

}

.section-ask h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 31px;
    max-width: 500px;
}

.left-ask {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    padding-left: 20px;
}

.left-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
}

.right-ask {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;

}

.right-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
}

.footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
    padding-left: 112.5px;
    padding-right: 112.5px;
    padding-bottom: 21px;



}

.footer-call {
    padding-bottom: 40px;
    cursor: default;
}

.footer-call h1 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 59px;

}

.footer-call h2 {
    font-size: 44px;
    font-weight: 700;
    color: rgba(60, 70, 255, 1);
    line-height: 59px;
}

.footer-creator {
    display: flex;
    justify-content: space-between;
}

.left-creator svg {
    margin-bottom: 18px;
}

.creator-bottom {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.creator-bottom span {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    cursor: default;
}

.creator-bottom a {
    text-decoration: none;
    color: rgba(92, 92, 92, 1);
    font-size: 17px;
    font-weight: 400;
}

.right-creator {
    display: flex;
}

.right-creator a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.creator-top {
    display: flex;
    flex-direction: column;
}

.creator-top a {

    margin-bottom: 40px;
}

.creator-medium {
    display: flex;
    flex-direction: column;
}

.creator-medium a {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.creator-finish {
    display: flex;
    flex-direction: column;
}

.creator-finish a {
    margin-bottom: 40px;

}

.footer-finish {
    padding-top: 140px;
    color: rgba(138, 149, 173, 1);
    font-size: 16px;
    font-weight: 400;
    cursor: default;
}

@media(max-width:1470px) and (min-width:1095px) {
   
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .left-side h1 {
        font-size: 50px;

    }

    .left-side p {
        font-size: 16px;
    }

    .downstairs {
        padding: 80px 40px 20px;
    }

    .downstairs h1 {
        font-size: 40px;
    }

    .general-vector {
        display: flex;
        flex-wrap: wrap;
    }

    .general-vector img {
        width: 40px;
        height: 40px;
    }

    .general-vector h1 {
        font-size: 22px;
    }

    .general-vector p {
        font-size: 18px;
        line-height: 22px;
    }

    .one-vector,
    .two-vector,
    .three-vector {
        margin-top: 30px;
    
        
    }
    .project-info{
        padding:80px;
    }
    
.project-info-1 h1{
    font-size: 44px;
    line-height:50px;
}
.project-in-the img{
    width: 380px;
    margin:20px;
}
.project-bottom{
    margin: 0 20px 0;

}
.project-bottom h3{
    font-size: 22px;
    
}
.section-blog{
    display: flex;
    flex-wrap: wrap;
    
}
.blog-blog h1{
    font-size: 44px;
}
.blog-vector h3{
    font-size: 20px;

}
.product-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.text-2 p{
padding: 0;
}

.image2{
    display: none;
}
.education-and-work{
    padding: 80px;
}
.word-testi{
    padding: 80px;
}
.left-word h1{
    font-size: 50px;
}
.left-word img{
    width:450px;
}
.word-top h3{
    font-size: 24px;
}
.faq-section{
    padding: 80px;
}
.section-faq h1{
    font-size:48px;
}
.section-ask h3{
    font-size: 16px;
}
.footer-call h1 {
    font-size: 40px;
}
.footer-call h2{
    font-size:40px;
}
.footer-finish{
    padding-bottom: 80px;
}
}


@media (max-width:1094px) and (min-width:768px) {
    .bars {
        display: flex;
        cursor: pointer;
    }

    .bars a {
        color: #000;
        font-size: 20px;
    }

    .nav-links {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: column;
        padding: 4.375rem 0 0;

    }
.left-side h1{
    font-size: 66px;
}
    .section>.left-side {
        text-align: center;
        flex-basis: 100%;
        padding-bottom: 4.5rem;
    }

    .section>.right-side {
        text-align: center;
        flex-basis: 50%;
    }

    .trusted-company:nth-child(odd) {
        display: none;
    }

    .trusted-companies {
        padding: 0 100px 0;
    }

    .downstairs {
        display: flex;
        justify-content: center;
        padding-top: 6.25rem;
        padding-left: 1.7rem;
        padding-right: 1.9rem;

    }

    .downstairs h1 {
        text-align: center;
        min-width: 700px;
        font-size: 40px;


    }

    .general-vector {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 40px 0;



    }

    .general-vector h1 {
        font-size: 20px;
        min-width: 200px;
    }

    .general-vector img {
        width: 40px;
        height: 40px;
    }

    .general-vector p {
        font-size: 14px;
        line-height: 24px;
    }

    .square h6 {
        font-size: 14px;
    }



    .one-vector,
    .two-vector,
    .three-vector {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .project-info-1 h1 {
        min-width: 486px;
        font-size: 40px;
        line-height: 54px;

    }

    .project-info-1 {
        display: flex;
        flex-wrap: wrap;

    }

    .project-in-the {
        padding-left: 16px;
    }

    .project-in-the img {
        width: 300px;
        /* padding-right: 10px; */
        flex-basis: 100%;
    }

    .project-in-the h3 {
        font-size: 20px;
    }

    .section-blog {
        display: flex;
        flex-direction: column;
    }

    .section-blog h1 {
        font-size: 28px;
    }

    .section-blog h5 {
        font-size: 22px;
    }

    .blog-blog-one {
        padding-top: 40px;
    }

    .section-blog a {
        font-size: 15px;
    }

    .blog-blog-one h3 {
        font-size: 15px;
        min-width: 500px;
    }


    .section-product {
        padding: 0 40px 0;
    }

    .product-text {
        display: flex;
        padding: 0;
        flex-direction: column;


    }

    .section-product h1 {
        min-width: 273px;
        font-size: 44px;
        text-align: start;
    }

    .section-product h5 {
        min-width: 290px;
        font-size: 16px;
        padding-top: 40px;
    }

    .section-product p {
        font-size: 16px;
        padding-top: 20px;

    }

    .product-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .product-img .image2 {
        display: flex;
        /* flex-direction: column; */


    }

    .product-img .image1 {
        display: none;
    }

    .education-and-work {
        display: flex;
        flex-direction: column;


    }

    .right-work {
        padding-top: 20px;
    }

    .word-testi {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;

    }

    .left-word {
        padding-top: 60px;
    }

    .left-word h1 {
        font-size: 36px;
    }

    .left-word h3 {
        font-size: 18px;
    }

    .right-word h3 {
        font-size: 23px;
    }

    .right-word img {
        width: 40px;
    }

    .section-ask {
        display: flex;
        flex-direction: column;
    }


    .section-ask h3 {
        font-size: 18px;
    }

    .section-faq h1 {
        font-size:30px;
    }

    .section-faq span {
        font-size: 20px;
    }

    .footer h1 {
        font-size: 29px;
    }

    .footer h2 {
        font-size: 30px;
    }

    .footer-creator a {
        font-size: 16px;
    }

    .right-creator {
        padding-top: 40px;
    }

    .footer-creator {
        display: flex;
        flex-direction: column;
    }

    .footer-finish {
        font-size: 14px;
    }


}





@media(max-width:768px) and (min-width:500px) {
    header {
        padding: 2.563rem 1.75rem;

    }

    .bars {
        display: flex;
        cursor: pointer;
    }

    .nav-links {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        padding: 0 60px;
        flex-basis: 100%;
    }

    .right-side img {
        width: 400px;
        height: 290px;
    }

    .left-side h1 {
        font-size: 44px;
        line-height: 54px;
    }

    .left-side p {
        font-size: 16px;
    }

    .trusted-by-sec {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .trusted-company:not(:first-child) {
        display: none;
    }



    .downstairs {
        display: flex;
        justify-content: center;
        padding: 6.25rem 0 0;

    }

    .downstairs p {
        font-size: 18px;
    }

    .downstairs h1 {

        font-size: 30px;

    }

    .general-vector {
        display: flex;
        flex-wrap: wrap;


        padding: 40px 80px;
    }

    .general-vector img {
        width: 40px;
        height: 40px;
    }

    .general-vector h1 {
        font-size: 22px;
    }

    .general-vector p {
        font-size: 14px;
        line-height: 18px;
    }

    .square h6 {
        font-size: 13px;
    }

    .one-vector,
    .two-vector,
    .three-vector {
        margin-bottom: 30px;
    }

    .project-info {
        padding: 40px 60px 0;
    }

    .project-info p {
        font-size: 18px;
    }

    .project-info-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .project-info-1 h1 {
        font-size: 36px;
        line-height: 36px;
    }

    .project-in-the:nth-child(odd) {
        display: none;
    }

    .project-in-the img {
        width: 350px;
        height: 280px;
    }

    .project-bottom h3 {
        font-size: 20px;
    }

    .project-bottom a {
        font-size: 16px;
    }

    .section-blog {
        display: flex;
        flex-direction: column;
        padding: 0 40px 20px;

    }

    .blog-blog h1 {
        font-size: 36px;
    }

    .blog-blog-one {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .blog-vector h3 {
        font-size: 16px;
    }

    .section-product {
        padding: 40px;
    }

    .product-text {
        display: flex;
        flex-wrap: wrap;

    }

    .product-text h5 {
        font-size: 20px;
        padding-top: 40px;
    }

    .product-text h1 {
        font-size: 36px;
    }

    .product-text p {
        font-size: 14px;
        padding-top: 20px;
    }

    .product-img .image1 {
        display: none;
    }

    .product-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;

    }

    .education-and-work {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .left-education>h3 {
        font-size: 32px;
    }
.right-work{
    padding-top: 80px;
}
    .right-work>h3 {
        font-size: 32px;
    }

    .word-testi {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 40px 20px;

    }

    .left-word h1 {
        font-size: 40px;
    }

    .left-word img {
        width: 400px;
    }

    .left-word {
        padding-bottom: 60px;
    }


    .right-word img {
        width: 35px;
    }
    .right-word{
        padding-top: 80px;
    }

    .right-word h3 {
        font-size: 23px;

    }

    .faq-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .section-faq h1 {
        font-size: 24px;
    }

    .section-faq {
        padding-bottom: 40px;
    }

    .section-ask {
        display: flex;
        flex-direction: column;
    }

    .section-ask h3 {
        font-size: 16px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .footer-call h1 {
        font-size: 20px;
    }

    .footer-call h2 {
        font-size: 20px;
    }

    .footer-creator {
        display: flex;
        flex-direction: column;

    }

    .left-creator>svg {
        width: 160px;
    }

    .right-creator {
        padding-top: 30px;
    }

    .right-creator a {
        font-size: 16px;
    }

    .footer-finish {
        font-size: 12px;
        line-height: 20px;
    }
}