@import url('./reset.css');

body {
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7.031rem;
    padding-left: 7.031rem;
    padding-top: 2.563rem;

}


.bars {
    display: none;

   
}
.bars a{
    text-decoration: none;
}

.nav-links {
    display: flex;


}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: 400;



}

.nav-links a:hover {
    text-decoration: underline cornflowerblue;
}

.section {
    display: flex;
    justify-content: space-between;
    padding-left: 112.5px;
    padding-right: 112px;

}

.section>.left-side {
    flex-direction: column;
    flex-basis: 48%;
    cursor: default;
    min-width: 715px;
    padding-top: 117px;



}

.left-side h1 span {
    color: #f39c12;

}

.left-side h1 {
    font-weight: 700;
    font-size: 70px;
}

.left-side h1:hover {
    text-decoration: underline cornflowerblue;

}

.left-side p {
    color: #95a5a6;
    font-size: 15px;
    font-weight: 400;
    margin-top: 34px;
}

.left-side p:hover {
    text-decoration: underline #4834d4;

}

.left-side button {
    padding: 15px 26px;
    background-color: #000;
    color: #fff;
    margin-top: 25px;
}

.left-side button:hover {
    text-decoration: underline #4834d4;
}

.left-side a {
    color: #000;
    padding-left: 15px;
    text-decoration: none;
}

.left-side a:hover {
    text-decoration: underline #4834d4;
}

.section>.right-side {
    min-width: 500px;
    padding-top: 4.5rem;
    flex: 0.52;
}

b {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 202px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18rem;
    padding-top: 45px;
    min-width: 770px;


}

footer img {
    margin-left: 4.983rem;
    

}

@media(max-width:768px) {

    .bars {
        display: flex;
        cursor: pointer;
       
    }
   
.bars a{
    color: #000;
    font-size: 20px;
}

    .nav-links {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: column;
        padding: 70px 0 0;
        
    }

    .section>.left-side {
        min-width: 700px;
        text-align: center;
        flex-basis: 100%;
        padding-bottom: 4.5rem;
    }

    .section>.right-side {
        min-width: 500px;
        text-align: center;
        flex-basis: 100%;
    }
    footer{
        padding: 0 80px;
        min-width:475px;

    }
    footer img{
        margin: 0 20px;
    }
    b{
        padding-bottom:23px ;
    }
}
@media(max-width:500px){
    header{
        padding: 41px 20px;
    }
    .section{
        align-items: center;
        flex-basis: 50%;
        padding: 0;
    }
    
    .left-side h1{
        font-size: 55px;
    }
    footer {
        padding:20px 0;
        max-width: 300px;
    }
    footer img{
        margin: 0 1px;
    }
}