@import url('./reset.css');

body {
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7.031rem;
    padding-left: 7.031rem;
    padding-top: 2.563rem;

}


.bars {
    display: none;


}

.bars a {
    text-decoration: none;
}

.nav-links {
    display: flex;


}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: 400;



}

.nav-links a:hover {
    text-decoration: underline cornflowerblue;
}

.section {
    display: flex;
    justify-content: space-between;
    padding-left: 112.5px;
    padding-right: 112px;

}

.section>.left-side {
    flex-direction: column;
    flex-basis: 48%;
    cursor: default;
    min-width: 715px;
    padding-top: 117px;



}

.left-side h1 span {
    color: #f39c12;

}

.left-side h1 {
    font-weight: 700;
    font-size: 70px;
}

.left-side h1:hover {
    text-decoration: underline cornflowerblue;

}

.left-side p {
    color: #95a5a6;
    font-size: 15px;
    font-weight: 400;
    margin-top: 34px;
}

.left-side p:hover {
    text-decoration: underline #4834d4;

}

.left-side button {
    padding: 15px 26px;
    background-color: #000;
    color: #fff;
    margin-top: 25px;
}

.left-side button:hover {
    text-decoration: underline #4834d4;
}

.left-side a {
    color: #000;
    padding-left: 15px;
    text-decoration: none;
}

.left-side a:hover {
    text-decoration: underline #4834d4;
}

.section>.right-side {
    min-width: 500px;
    padding-top: 4.5rem;
    flex: 0.52;
}

b {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 202px;
}

.trusted-by-sec {
    text-align: center;
}

.trusted-by-sec h6 {

    font-weight: 400;
    font-size: 18px;
    padding: 100px 0 45px;
    cursor:default;
}
.trusted-companies{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 18rem 0;
}
.downstairs{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 9.75rem 21rem 1.25rem;
    cursor:default;
}
.downstairs p{
    color: rgba(255, 94, 105, 1);
    font-size: 22px;
    font-weight: 400;
}
.downstairs h1{
    font-size: 3.375rem;
    font-weight: 700;
    line-height:59px;
    min-width:768px;
}
.downstairs h1:hover{
    text-decoration: underline cornflowerblue;
}
.general-vector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.4rem 10rem 11rem;
    cursor: default;
}
.one-vector h1{
    font-size: 27px;
    min-width: 244px;
}
.two-vector h1{
    font-size: 27px;
    min-width: 285px;
}
.three-vector h1{
    font-size: 27px;
    min-width: 247px;
}
.square{
    width: 6px;
    height: 6px;
    background-color: #000;
}
.square h6{
    margin-left: 12px;
    min-width: 228px;
    font-size:14px;
}

@media(max-width:768px) {

    .bars {
        display: flex;
        cursor: pointer;

    }

    .bars a {
        color: #000;
        font-size: 20px;
    }

    .nav-links {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: column;
        padding: 4.375rem 0 0;

    }

    .section>.left-side {
        min-width: 700px;
        text-align: center;
        flex-basis: 100%;
        padding-bottom: 4.5rem;
    }

    .section>.right-side {
        min-width: 500px;
        text-align: center;
        flex-basis: 100%;
    }
    .trusted-company:nth-child(odd){
        display: none;
    }
    .trusted-companies{
        padding: 0 100px 0;
    }
    .downstairs{
        display: flex;
        justify-content:center;
        padding: 6.25rem 1.9rem 0;

    }
    .downstairs h1{
        text-align: center;
        min-width: 700px;
        font-size: 40px;
        
        
    }
    .general-vector{
        display: flex;
        justify-content: center;
        padding: 0 20px 40px;
        
        
    }
    .one-vector h1{
        font-size: 17px;
        min-width: 200px;
    }
.one-vector img{
    width: 35px;
    height: 35px;
}
.one-vector p{
    font-size: 12px;
}
.square h6{
    font-size: 12px;
}
.two-vector h1{
    font-size: 17px;
    min-width: 210px;
}
.two-vector img{
    width: 35px;
    height: 35px;
}
.two-vector p{
    font-size: 12px;
}
.three-vector h1{
    font-size: 17px;
    min-width: 200px;
}
.three-vector img{
    width: 35px;
    height: 35px;
}
.three-vector p{
    font-size: 12px;
}
.one-vector, .two-vector, .three-vector{
    margin-left: 20px;
}
}

@media(max-width:500px) {
    header {
        padding: 2.563rem  1.25rem;
    }

    .section {
        align-items: center;
        flex-basis: 50%;
        padding: 0;
    }

    .left-side h1 {
        font-size: 55px;
    }
    .downstairs{
        display: flex;
        justify-content: center;
        padding: 6.25rem 0 0;
        
    }
    .downstairs h1{
        
        font-size: 32px;
        min-width:500px 
    }
    
/* .trusted-company:nth-child(even){
    display: none;
} */
 
/* .trusted-company:not(:first-child){
    display: none;
} */
}